
<style type="text/css">
    .giohang {
        color: white;
        font-size: large;  
    }
    .giohang i{
        font-size:25px;
    }
</style>

<a href="@Url.Action("GioHang","GioHang")" class="giohang">
    <i class="fa fa-shopping-cart">(@ViewBag.TongSoLuong)</i>
</a>

