@{
    ViewBag.Title = "Địa chỉ liên hệ";
}
<style>
    address {
        font-size: 25px;
        width: 100%;
    }

    .right {
        width: 50%;
        float: right;
    }

    .left {
        width: 50%;
        float: left;
    }
    .img{
        margin-top:50px;
    }
</style>


<address>
    <div class="img">
        <img width="30%" height="400" src="~/HinhanhSP/Capture4.PNG" />
        <img width="60%" height="400" src="~/HinhanhSP/lh2.jpg" />

    </div>
    <div class="right" style="color:black">
        <h2>ĐỊA CHỈ LIÊN HỆ</h2>
        <sapn><i class="fa-sharp fa-solid fa-house"></i>  Địa chỉ: Khu 1 - Bình Phú - Phù Ninh - Phú Thọ.</sapn><br />
        <span>
            <i class="fa-solid fa-phone"></i>   0968204222
        </span>
    </div>

    <div class="left">
        <img width="500" height="500" src="~/HinhanhSP/Capture3.PNG" />
    </div>

</address>

<address style="color:black">
    <strong>Support:</strong>   <a href="mailto:Support@example.com" style="color:black">quyenminh301@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com" style="color:black">quyenminh310@gmail.com</a>
</address>