
@{
    ViewBag.Title = "Sản phẩm mới ra mắt";
}
<style>
    p {
        font-size: 24px;
        color:black;
    }
    .cuoi{
        padding-left:500px;
        
    }
    .cuoi input {
        background-color: orange;
        color: azure;
        height: 90px;
        width: 600px;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
        border: 1px solid orange;
    }
    .moira img{
        width:100%;
    }
    .homedan {
        padding-left: 15px;
        padding-top: 10px;
    }

        .homedan a {
            font-size: 18px;
            font-family: 'Times New Roman', Times, serif;
            color: black;
            text-decoration: none;
        }

            .homedan a:hover {
                color: red;
            }
</style>
<br/>
<br/>
<img class="img-responsive" src="~/HinhanhSP/ban1.jpg" />
<div class="homedan">
    <a href="~/Home/Index">Home</a>&nbsp;&gt;&nbsp;<a href="~/Thongtin/Index">Thông tin</a>&nbsp;&gt;&nbsp;<a href="~/Thongtin/spmoiramat">Sản phẩm mới ra mắt</a>
</div>
<div class="moira">
    <h1 style="color:black">TOP 11 điện thoại mới ra mắt 2023 - Cập nhật liên tục</h1>
    <h3 style="color:black">Bạn đang có ý định mua smartphone nhưng vẫn chưa tìm được sản phẩm ưng ý? Đừng lo vì bài viết ngày hôm nay sẽ giúp bạn giải đáp thắc mắc. Cùng mình theo dõi để xem đâu là những mẫu điện thoại vừa mới ra mắt trong năm 2023 này bạn nhé. </h3>
    <p><img src="~/HinhanhSP/spmoiramat1.PNG" /></p>
    <br />
    <p><img src="~/HinhanhSP/spmoiramat2.PNG" /></p>
    <h2 style="color:black">I. Tiêu chí chọn mua</h2>
    <br />
    <table border="1" style="width:100%; font-size:26px;">
        <tr>
            <th>Tiêu chí</th>
            <th>Cấu hình khuyến nghị</th>
        </tr>
        <tr>
            <td>Chip xử lý</td>
            <td>Ưu tiên các con chip ra mắt trong 1 năm trở lại</td>
        </tr>
        <tr>
            <td>RAM/ROM</td>
            <td>6 GB/ 128 GB trở lên hoặc tương đương</td>
        </tr>
        <tr>
            <td>Màn hình, độ phân giải</td>
            <td>6.1 inch, HD+ trở lên hoặc tương đương</td>
        </tr>
        <tr>
            <td>Pin, sạc </td>
            <td>3500 mAh, 15W trở lên hoặc tương đương</td>
        </tr>
    </table>
    <h1 style="color:black">II. TOP 11 điện thoại mới năm 2023</h1>
    <h2 style="color:black">1.Điện thoại Xiaomi Redmi 12C 64GB</h2>
    <p><img src="~/HinhanhSP/spmoiramat3.PNG" /></p>
    <p style="background-color:aquamarine;padding-left:15px;">
        <b>CPU:</b> <a>MediaTek Helio G85</a><br />
        <b>RAM:</b> 4 GB<br />
        <b>Bộ nhớ trong:</b> 128 GB<br />
        <b>Màn hình</b>: 6.71 inch, HD+<br />
        <b>Pin:</b> 5000 mAh <b>Sạc:</b> 10W<br />
    </p>
    <p>
        Đầu năm nay, cụ thể vào ngày 01/01/2023, Xiaomi cho ra mắt thị trường công nghệ một chiếc điện thoại hướng đến phân khúc tầm trung mang tên <a>Redmi 12C</a>. Với ngoại hình trẻ trung, hiện đại cùng nhiều thông số kỹ thuật đáng chú ý, đây chính là chiếc điện thoại được người dùng mong chờ khá nhiều trong màn mở bát năm 2023 này.
    </p>
    <p><img src="~/HinhanhSP/spmoiramat4.PNG" /></p>
    <p>Máy sở hữu màn hình rộng 6.71 inch kết hợp với tấm nền IPS LCD giúp mở rộng góc nhìn lên đến 178 độ, mang đến một không gian hiển thị rộng rãi, thoải mái. Hình ảnh hiển thị trên màn với độ phân giải HD+, màu sắc khá sống động, chân thực và độ sắc nét cao giúp mang đến cho người dùng những trải nghiệm sử dụng tối ưu nhất có thể. </p>
    <h2 style="color:black">Mời bạn tham khảo sản phẩm mới:</h2>
    <p><img src="~/HinhanhSP/spmoiramat5.PNG" /></p>
    <h2 style="color:black">2. Điện thoại iPhone 14 128GB Vàng</h2>
    <p><img src="~/HinhanhSP/spmoiramat6.PNG" /></p>
    <p style="background-color:aquamarine;padding-left:15px;">
        <b>CPU:</b> <a>Apple A15 Bionic 6 nhân</a><br />
        <b>RAM:</b> 6 GB<br />
        <b>Bộ nhớ trong:</b> 128 GB<br />
        <b>Màn hình:</b> 6.1 inch, Super Retina XDR (1170 x 2532 Pixels)<br />
        <b>Pin:</b> 3279 mAh <b>Sạc:</b> 20W<br />
    </p>
    <p>Nói đến nhà Apple, dĩ nhiên chúng ta không thể phủ nhận rằng các sản phẩm của họ sở hữu ngoại hình cực kỳ cao cấp và sang chảnh. Đối với chiếc <a>iPhone 14</a> lần này, nhìn chung, không có quá nhiều sự khác biệt trong thiết kế so với phiên bản iPhone 13 trước đó. Tuy nhiên, lần này Apple đã tung ra hai phiên bản màu mới là tím và xanh dương, mang đến nhiều sự lựa chọn hơn cho người dùng.</p>
    <p><img src="~/HinhanhSP/spmoiramat7.PNG" /></p>
    <p>iPhone 14 vẫn sẽ được trang bị con chip Apple A15, vốn đã có trên phiên bản iPhone 13 trước đó. Vậy câu hỏi đặt ra là "Liệu hiệu năng của iPhone 14 có thực sự đáng để mong đợi khi vẫn giữ nguyên con chip xử lý?" Câu trả lời chắc chắn là có, vì trên iPhone 14, Apple A15 Bionic sẽ được trang bị 5 nhân thay vì 4 nhân, kéo theo hiệu năng cho việc xử lý các tác vụ chơi game hay xử lý công việc đồ hoạ cũng trở nên nhanh chóng, mượt mà hơn. </p>
    <h2 style="color:black">Mời bạn tham khảo sản phẩm mới:</h2>
    <p><img src="~/HinhanhSP/spmoiramat8.PNG" /></p>
    <div class="cuoi">
        <input type="submit" value="MUA NGAY ĐIỆN THOẠI CHÍNH
    HÃNG VỚI GIÁ SIÊU RẺ" />
    </div>
    <div style="background-color:aquamarine;padding-left:15px;">
        <h3 style="color:black">Xem thêm:</h3>
        <p style="color:black">Top 9 điện thoại mặt lưng kính sang, xịn, mịn không thể bỏ lỡ tại Thế Giới Di Động</p>
        <p style="color:black">Top 5 điện thoại Samsung màn hình gập cao cấp nhất</p>
        <p style="color:black">Top 26 điện thoại chơi game tốt, mượt nhất 2023 từ 4 triệu đến hơn 20 triệu</p>
    </div> 
       <br/>
       
    <p>Và trên đây là top 11 sản phẩm vừa mới ra mắt trong năm 2023 tính tới thời điểm hiện tại. Hy vọng bài viết có thể giúp bạn tìm được sản phẩm ưng ý và phù hợp với nhu cầu của bản thân. Còn chần chờ gì mà không đến ngay Thế Giới Di Động gần nhất để tậu ngay một em smartphone về nhà đi nào!</p>
    <br/>
    <div>
        <input type="submit" value="Thích" />
        <input type="submit" value="Chia sẻ" />
    </div>
</div>