
@{
    ViewBag.Title = "Sản phẩm sắp ra mắt";
}
<style>
    p {
        font-size: 24px;
        color:black;
    }

    .can {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .homedan {
        padding-left: 15px;
        padding-top: 10px;
    }

        .homedan a {
            font-size: 18px;
            font-family: 'Times New Roman', Times, serif;
            color: black;
            text-decoration: none;
        }

            .homedan a:hover {
                color: red;
            }
</style>
<br/>
<br/>
<img class="img-responsive" src="~/HinhanhSP/ban1.jpg" />
<div class="homedan">
    <a href="~/Home/Index">Home</a>&nbsp;&gt;&nbsp;<a href="~/Thongtin/Index">Thông tin</a>&nbsp;&gt;&nbsp;<a href="~/Thongtin/spsapramat">Sản phẩm sắp ra mắt</a>
</div>
<div style="margin-top:10px">
    <h1>Top 7 sản phẩm mới Apple có thể ra mắt năm nay (2023)</h1>
    <img width="100%" src="~/HinhanhSP/Capture7.PNG" />
    <h2>1.  iPhone 15 series</h2>
    <p>
        Mỗi năm khi câu hỏi Apple ra mắt sản phẩm mới gì được đặt ra, thì chắc chắn sẽ luôn có câu trả lời một dòng iPhone series mới. Năm nay, cũng không ngoại lệ, iPhone 15 series đã được dự đoán sẽ có hàng loạt những thay đổi lớn so với dòng điện thoại iPhone 14 2022.

        Với thông tin châu Âu ra quy định yêu cầu các thiết bị di động đều phải trang bị USB C. Nhà Táo bắt buộc phải tuân theo, nên có thể iPhone 15 sẽ là dòng máy đầu tiên được trang bị cổng này sau nhiều năm sử dụng cổng Lightning độc quyền.
    </p>
    <br />
    <img class="can" src="~/HinhanhSP/spramat1.PNG" />
    <br />
    <p>
        Bên cạnh đó thì iPhone 15 dự đoán sẽ được trang bị cảm biến ảnh của Sony với thiết kế kiến trúc bán dẫn mới. Sẽ cho phép đặt diode quang và các bóng bán dẫn trong với từng lớp riêng biệt. Cảm biến sẽ tăng gấp đôi độ bão hoà màu trong từng pixel so với mức thông thường, nhờ đó camera sau sẽ thu được nhiều ánh sáng hơn, tăng khả năng giảm nhiễu, dynamic range.

        Cũng như các dòng iPhone khác thì năm nay iPhone 15 sẽ được trang bị con chip mới nhất của Apple theo dự đoán là A16 Bionic và có thể dung lượng RAM sẽ được tăng lên 8GB. Phiên bản cao cấp nhất được mong chờ sẽ xuất hiện là iPhone 15 Ultra thay vì là Pro Max như mọi năm.

        Theo thông lệ hàng năm thì các sản phẩm iPhone của nhà Táo thường sẽ diễn ra vào tháng 9, tuỳ thuộc vào từng chuỗi cung ứng của hãng, các mẫu sẽ ra cùng lúc hoặc cách nhau một khoảng thời gian ngắn.
    </p>
    <br />
    <img class="can" src="~/HinhanhSP/spramat2.PNG" />
    <br />
    <h2>2. iPhone SE 4 2023</h2>
    <br />
    <p>
        Kế đến, dự đoán Apple ra mắt sản phẩm mới kế tiếp sẽ là iPhone SE 4 2023. Theo như thông tin từ leaker Jon Prosser, thì dòng SE thế hệ thứ 4 này sẽ có thiết kế gần giống với dòng iPhone XR 2018. Tuy sử dụng thiết kế cũ nhưng với chiếc điện thoại series giá tốt SE cũng là một lần đổi mới thiết kế ấn tượng sau nhiều năm.

        Leaker nổi tiếng này hiện vẫn chưa có thông tin chi tiết về thông số kỹ thuật bên trong của sản phẩm. Nhưng sẽ có nhiều khả năng model SE mới sẽ có thể sử dụng lại một số phần cứng cũ từ những người đàn anh của mình để cắt giảm chi phí. Theo như dự báo từ phân tích Ross Yong cho biết mẫu SE 2023 sẽ có màn hình kích thước 6.1inch với thiết kế notch kiểu cũ giống từ dòng iPhone 12 trở về trước.
    </p>
    <br />
    <img class="can" src="~/HinhanhSP/spramat3.PNG" />
    <br />
    <h2>3.  Các bạn mong chờ sản phẩm nào nhất của Apple ra mắt</h2>
    <p>Hiện tại, chưa có một thông tin cụ thể về việc Apple ra mắt sản phẩm mới, có rất nhiều dòng sản phẩm cực kỳ ấn tượng được rất nhiều iFan mong chờ. Tuy nhiên, từng dòng sản phẩm của Apple đều phục vụ một mục đích sử dụng khác nhau của người dùng. </p>
    <br />
    <img class="can" src="~/HinhanhSP/spramat4.PNG" />
    <br />
    <p>
        Apple ra mắt sản phẩm mới
        iFan mong chờ Apple ra mắt sản phẩm mới nào nhất
        Nên để nói sản phẩm nào đáng mong chờ nhất thì thật sự thì sản phẩm nào cũng đáng mong chờ vì được trang bị rất nhiều tính năng mới. Nhưng để chọn ra một sản phẩm thì có thể là dòng kính VR/AR, đây là một sản phẩm được mong chờ từ rất lâu của iFan nhưng đến thời điểm hiện tại vẫn chưa có một sản phẩm nào được ra mắt.
    </p><br />
    <h2>4.  Lịch ra mắt sản phẩm mới của Apple 2023 </h2>
    <p>
        Hiện tại vẫn chưa có quá nhiều thông tin về thời gian Apple ra mắt sản phẩm mới. Hãy cùng bài viết tổng hợp qua một số dự đoán ra mắt sản phẩm của Apple 2023 dưới đây nhé.

        iMac Pro với con chip M1 Pro, M1 Max và có thể sẽ ra cả M1 Ultra sẽ được ra mắt trong năm 2023.
        MacBook Pro M2 14inch và 16inch với con chip M2 Pro hoặc M2 Max sẽ có thể được ra mắt vào tháng 7.
        Mac Mini M3, MacBook Air 13.3 inch M3, MacBook Pro M3 13.3inch sẽ được ra mắt vào khoảng quý 3 hoặc quý 4 của năm mới.
    </p><br />
    <img class="can" src="~/HinhanhSP/spramat5.PNG" />
    <br />
    <h2>5. Tạm kết</h2>
    <p>
        Bài viết Apple ra mắt sản phẩm mới nào trong năm 2023? iFan chờ gì? Đã cập nhật sơ qua các thông tin rò rỉ về các dòng sản phẩm sẽ có thể được ra mắt trong năm mới của nhà Táo. Mong rằng những thông tin bài viết cung cấp sẽ giúp các bạn đọc biết sơ qua về các dòng siêu phẩm Apple sắp được ra mắt trong năm 2023.

        Hãy theo dõi trang Dchannel của Di Động Việt thường xuyên để cập nhật thêm nhiều thông tin về các sản phẩm Apple mới nhất trong thời gian sắp tới nhé.

        Đừng quên “MUA ĐIỆN THOẠI ĐẾN SHOP ĐIỆN TỬ” ngay, rất nhiều chương trình khuyến mãi đầu xuân đang được chạy, với mức giá cực hấp dẫn, kèm theo nhiều phần quà giá trị khác nhé.
    </p>
    <br />
    <div>
        <input type="submit" value="Thích" />
        <input type="submit" value="Chia sẻ" />
    </div>
</div>